@import "tailwindcss";

@theme{
  --color-*: initial;

  --color-white: #FFFFFF;
  --color-light: #f3f4f9;
  --color-slate-200: #e2e8f0;
  --color-slate-400: #94a3b8;
  --color-metalic: #4682B4;
  
  --color-black-900: #1E1E1E;
  --color-black-900-h: #2a2a2a;

  --color-blue-300: #66D3FA;
  --color-blue-500: #007FFF;
  --color-blue-500-h: #3399ff;

  --color-green-500: #00B37E;
  --color-green-500-h: #33C9A1;
  --color-green-900: #577c5e;

  --color-red-500: #F2003C;

  --font-sans: "Cairo", sans-serif;  
  --shadow-sm: 0px 4px 8px 0px rgba(54, 23, 45, 0.05);
}